<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{title}}</title>

{{#if preloadSlide}}
<link rel="preload" as="image" href="img/slide-1.png" />
{{/if}}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Days+One&family=Onest:wght@100..900&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="css/style.css" />

<link rel="icon" type="image/png" href="img/logo.png" />
<link rel="icon" type="image/svg+xml" href="img/map-pin.svg" />
